ent/*
!ent/schema
!ent/generate.go
test/
*.sqlite
__debug_bin*
__bruno

proto/**/*.go
!proto/**/*.proto

build/bin
build/bin
ui/build/bin
ui/node_modules
ui/dist
ui/wailsjs

*storybook.log
storybook-static
