[tools]
go = "1.24"
watchexec = "latest"
atlas = "latest"
buf = "latest"
golangci-lint = "latest"
"go:github.com/nametake/golangci-lint-langserver" = "5725c355362522eabc923ef100072fc1f3e23313"
"go:github.com/fullstorydev/grpcui/cmd/grpcui" = "v1.4.3"
[env]
CGO_ENABLED = "1"

[settings]
experimental = true
lockfile = true

[tasks.entviz]
description = "Create entviz"
run = "go run -mod=mod ariga.io/entviz ./ent/schema"

[tasks.genent]
description = "Generate ent code"
run = "go generate ./ent"

[tasks.genproto]
description = "Generate go code from protobuf"
run = "buf generate"

[tasks.generate]
alias = ["gen"]
description = "Generate all the things"
depends = ["genent", "genproto"]
run = "go mod tidy"

[tasks.dev]
description = "Run code"
run = "go run main.go"

[tasks."migrate:create"]
run = 'atlas migrate diff {{arg(name="migration_name")}} --dir "file://ent/migrate/migrations" --to "ent://ent/schema" --dev-url "sqlite://test/test.sqlite?_fk=1"'

[tasks."migrate:apply"]
run = 'atlas migrate apply --dir "file://ent/migrate/migrations" --url "sqlite://test/test.sqlite?_fk=1"'

[tasks."lint"]
run = "golangci-lint run"
