name: Code Quality

on:
  push:
  pull_request:

jobs:
  ts-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.3.13
      - name: Biome Lint
        working-directory: ui
        run: biome ci
